[loggers]
keys=root,app

[handlers]
keys=fileHandler, consoleHandler

[formatters]
keys=myFormatter,color

[logger_root]
level=CRITICAL
handlers=fileHandler

[logger_app]
level=INFO
handlers=consoleHandler
qualname=app

[handler_consoleHandler]
class=StreamHandler
level=INFO
formatter=color
args=(sys.stdout,)

[handler_fileHandler]
class=FileHandler
formatter=myFormatter
args=("app.log",'a','utf8')

[formatter_myFormatter]
format=%(filename)s[LINE:%(lineno)d]# %(levelname)-8s [%(asctime)s]  %(message)s
datefmt=

[formatter_color]
format=%(asctime)s %(log_color)s%(levelname)-8s%(reset)s %(blue)s[%(name)s]%(reset)s %(message)s

class=colorlog.ColoredFormatter
datefmt=%Y-%m-%d %H:%M:%S

